@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(/fonts/DXI1ORHCpsQm3Vp6mXoaTRampu5_7CjHW5spxoeN3Vs.woff2) format('woff2'), url(/fonts/DXI1ORHCpsQm3Vp6mXoaTaRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(/fonts/cJZKeOuBrn4kERxqtaUH3ZBw1xU1rKptJj_0jans920.woff2) format('woff2'), url(/fonts/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(/fonts/k3k702ZOKiLJc3WVjuplzBampu5_7CjHW5spxoeN3Vs.woff2) format('woff2'), url(/fonts/k3k702ZOKiLJc3WVjuplzKRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(/fonts/xjAJXh38I15wypJXxuGMBogp9Q8gbYrhqGlRav_IXfk.woff2) format('woff2'), url(/fonts/xjAJXh38I15wypJXxuGMBrrIa-7acMAeDBVuclsi6Gc.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(/fonts/PRmiXeptR36kaC0GEAetxv79_ZuUxCigM2DespTnFaw.woff2) format('woff2'), url(/fonts/PRmiXeptR36kaC0GEAetxhbnBKKEOwRKgsHDreGcocg.woff) format('woff');
}

.container {
  padding-top: 100px;
}

.navbar .container {
  padding-top: 0px;
}

.container.signin {
  height: 100%;
  position: absolute;
  width: 100%;
  background-color: #f3f3f3;
  z-index: 3000;
}

.form-signin {
  max-width: 380px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#header #logo-group #logo {
  padding: 0px;
  margin: 0px;
}

#logo img {
    padding: 3px;
    width: 180px;
}

ul.actions {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    float: right;
    margin-bottom: 28px;
}

ul.actions li {
    float: left;
    margin-left: 5px;
}
.pre {
    white-space: pre;
}
.nowrap {
    white-space: nowrap;
}
.smart-form textarea.markdown {
    box-sizing: border-box;
}
.dropzone {
    min-height: 160px !important;
}
td.left {
    text-align: left;
}
td.right {
    text-align: right;
}
td.nowrap {
    white-space: nowrap;
}

div.md-fullscreen-controls,
a.md-control-fullscreen {
    display: none;
}

.md-preview {
  overflow: auto !important;
}

.md-preview ul {
    padding-left: 40px !important;
}

#map_container {
    background-color: #ffffff;
    border: 1px solid #DDD;
    box-shadow: 0px 1px 1px #ECECEC;
}

.statusarea {
    position: absolute;
    right: 15px;
    top: 4px;
}

.statusarea div {
    float: right;
}

table.dataTable {
    font-size: 13px !important;
}

span.widget-icon {
    font-size: 18px !important;
    padding-top: 6px !important;
}

.pull-right .btn-header a {
    font-size: 18px;
    padding-top: 4px;
}

.md-editor .btn-primary {
    display: none;
}

.md-editor textarea {
    color: black !important;
}

.jarviswidget .fc-toolbar h2 {
    text-shadow: 0 1px 0 #fff;
    margin-top: -12px;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 9px;
}

.fc-event .fc-time, .fc-event .fc-title {
    display: block;
}

@media only screen and (min-width:320px) and (max-width:479px) {
    .page-title {
        display: block;
    }

    #sparks {
        background: none;
        padding: 0px;
        margin-bottom: 0px;
    }
}
