<div data-widget-fullscreenbutton="true"
     class="jarviswidget jarviswidget-color-white" role="widget">
  <header>
    <span class="widget-icon"> <i class="fa fa-unlock"></i> </span>
    <h2>Berechtigungen einstellen</h2>
  </header>
  <div>
    <div class="widget-body no-padding" id="navigation_container">
    </div>
  </div>
</div>
