<form method="POST" action="{{action}}"
      class="smart-form">
    <fieldset id="{{form_id}}">
        <div class="statusarea"></div>
    </fieldset>
    <footer>
        <button type="submit" class="btn btn-primary" id="send-form">
            Speichern
        </button>
    </footer>
</form>
